main form {
    width: 400px;
    margin: 40px auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: white;
    box-sizing: border-box;
}

main h2 {
    text-align: center;
    margin-top: 30px;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

form textarea {
    height: 100px;
    resize: vertical;
}

form button {
    width: 100%;
}